[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
        ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
        ignore = dirty
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
        ignore = dirty
[submodule "bundle/vim-solarized-powerline"]
	path = bundle/vim-solarized-powerline
	url = git://github.com/stephenmckinney/vim-solarized-powerline
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/LustyJuggler"]
	path = bundle/LustyJuggler
	url = git://github.com/vim-scripts/LustyJuggler.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = git://github.com/vim-scripts/bash-support.vim.git
        ignore = dirty
[submodule "bundle/nagios"]
	path = bundle/nagios
	url = git://github.com/mv/mv-vim-nagios.git
[submodule "bundle/dhcpd"]
	path = bundle/dhcpd
	url = git://github.com/vim-scripts/dhcpd.vim.git
[submodule "bundle/ntp"]
	path = bundle/ntp
	url = git://github.com/vim-scripts/ntp.vim.git
[submodule "bundle/vim-zsh"]
	path = bundle/vim-zsh
	url = git://github.com/clones/vim-zsh.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
